.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: black;
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    color: white;
    width: 80%;
    height: fit-content;
}

.listing {
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
}

.listing::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.listing {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}